*.com
*.class
*.dll
*.exe
*.o
*.so
*.app
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Eclipse stuff
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# we use maven!
build.xml

# maven
target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store/

# intellij
*.iml
*.ipr
*.iws
.idea*

# Spyder
.spyproject/*

# Linux temp files
*~

# Cached files
__pycache__*
*.pyc

# Run files
run/*
dem_sim/verification/*/data/*
dem_sim/test_run/*